html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 100px auto 0;
  width: 800px;
}
a img{
  border: none;
  outline: none;
}
a{
  outline: none;
}

.container{
  background: url('imgs/content-bg.jpg') no-repeat right top;
  border: 1px solid #a04d61;
  border-right: 10px solid #84122c;
  height: 540px;
}

.span1{
  position: absolute;
  width: 276px;
}
.span2{
  position: absolute;
  margin-left: 276px;
  width: 524px;
}

.clearfix{
  *zoom: 1;
}
.clearfix:after,
.clearfix:before{
  display: table;
  content: "";
}
.clearfix:after{
  clear: both;
}

#menu{
  list-style: none;
  margin-top: 4px;
}

#banner{
  display: block;
  height: 55px;
  margin-top: 20px;
  overflow: hidden;
  width: 464px;
}

#social{
  margin: 25px 0px 0 -40px;
  position: absolute;
}

#catalog{
  margin: 70px 0px 0 340px;
  position: absolute;
}

#options{
  margin-top: 125px;
  position: absolute;
  width: 370px;
}
#options li{
  float: left;
  list-style: none;
}
#options li.left{
  margin-right: 58px;
}
#options li a{
  border: none;
}
#options li a:hover{
  opacity: 0.7;
  -moz-opacity: 0.7;
  filter:alpha(opacity=70);
}

#iframe{
  background: #fff url('imgs/bg-iframe.gif') no-repeat right top;
  border-left: 1px solid #b78591;
  height: 299px;
  margin: 125px 0 0 -90px;
  overflow: hidden;
  padding: 9px;
  position: absolute;
  width: 584px;
}

.menu{
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
  list-style: none;
  text-indent: -9999px;
  width: 128px;
}

/*
  MENU
*/
.menu-op1{background-image: url('imgs/menu-index-op1.gif');height: 35px}
.menu-op1:hover{background-position: 0 bottom}
.menu-op2{background-image: url('imgs/menu-index-op2.gif');height: 36px}
.menu-op2:hover{background-position: 0 bottom}
.menu-op3{background-image: url('imgs/menu-index-op3.gif');height: 35px}
.menu-op3:hover{background-position: 0 bottom}
.menu-op4{background-image: url('imgs/menu-index-op4.gif');height: 36px}
.menu-op4:hover{background-position: 0 bottom}
.menu-op5{background-image: url('imgs/menu-index-op5.gif');height: 35px}
.menu-op5:hover{background-position: 0 bottom}
.menu-op6{background-image: url('imgs/menu-index-op6.gif');height: 35px}
.menu-op6:hover{background-position: 0 bottom}
.menu-op7{background-image: url('imgs/menu-index-op7.gif');height: 36px}
.menu-op7:hover{background-position: 0 bottom}
.menu-op8{background-image: url('imgs/menu-index-op8.gif');height: 35px}
.menu-op8:hover{background-position: 0 bottom}
.menu-op9{background-image: url('imgs/menu-index-op9.gif');height: 36px}
.menu-op9:hover{background-position: 0 bottom}