/* CSS Document */ 

body,html, td {  
  font-size:12px;  
  font-family:Arial; 
} 

#fileBrowser { 
} 

/* File Browser Table */ 
#fileBrowser table 
{ 
     
    width:100%; 
} 

/* rows */ 
#fileBrowser table tr td  
{ 
    padding:2px;  
} 

#fileBrowser a  
{  

} 

#fileBrowser a:hover  
{ 
    /*text-decoration:none; 
*/ 

color:#888; 
} 

/* rows */ 
#fileBrowser table tr.fr td,  
#fileBrowser table tr.fl td  
{ /* 
    border-top:1px solid #fff; 
    border-bottom:1px solid #ddd;  
*/} 

/* folder row */ 
#fileBrowser table tr.fr td.nm  
{  
    font-weight:bold;  
} 

/* parent row */ 
#fileBrowser table tr.parent  
{  
    font-weight:bold; 
} 
#fileBrowser table tr.parent td  
{/* 
    border-bottom:1px solid #ccc;  
    background:#efefd3; 

*/ 
background:#efdfdf; 
} 

/* header */ 
#fileBrowser div.header  
{ 
    margin-bottom:10px; 
} 
#fileBrowser div.header .breadcrumbs 
{ 
    font-size:24px; 
} 

/* sorting row */ 

#fileBrowser tr.sort td {  } 

/* Columns */ 
  
/* line number */ 
#fileBrowser table tr td.ln 
{ 
    /*border-left:1px solid #ccc;  
    */font-weight:normal;  
    text-align:right;  
    padding:0 10px 0 10px; width:10px; 
    color: #999; 
} 

/* date  */ 
#fileBrowser table tr td.dt  
{  
/*    border-right:1px solid #ccc;*/ 
} 
    
/* footer row */ 
#fileBrowser table tr.footer td  
{ 
    border:0;     
    font-weight:bold; 
    color:#f00; 
} 

/* sort row */ 
#fileBrowser table tr.sort td  
{ 
    border:0;  
    /*border-bottom:1px solid #ccc; */ 
} 

/* alternating Row Colors */ 
/* folders */ 
tr.fr.r1  
{ 
    background-color:#f3f3f3; 
} 
tr.fr.r2 { } 
/* files */ 
tr.r1  
{ 
    background-color:#f3f3f3;  
} 
tr.r2 {  } 

.private a { 
 display:block; 
 float:right; 
 width:auto; 
 padding:5px; 
 font-family:monospace; 
} 

.private a:hover { 
 text-decoration:none; 
} 

#uploadform { 
 margin:20px 0; 
} 
