body{
	font-size: 13px;
}

p{
	font-size:14px;
}

a{
	color:#A32638;
}

a:hover{
	color:#A32638;
}

h5{
	color:#A32638;
}

#idioma{
color:white;
}

#idioma a{
	font-size: 11px;
	color:white;
}
#idioma a:hover{
	font-size: 11px;
	color:#610B21;
}
.navbar-brand{
margin-top: -30px;
}

.barra_categoria{
	background-color:#A32638;
	color:white;
	text-align: center;
	padding: 5px;
}

.panel-title{
	font-size: 12px;
}

.panel-body{
	font-size: 12px;
}

.btn-default{
	background-color:#A32638;
	color: white;
}

.btn-lg{
	border:none;
}

.nav-tabs{
	font-size: 11px;
}

#social a{
color:white;
}

#top{
	background-color:#A32638;
	position: relative;
	height: 25px; 
}

.container{
	padding:0;
}

@media (min-width: 1201px) {
	#nav_principal{
		margin-top:30px;
		margin-bottom: 20px;
	}

	.navbar-brand{
		margin-top: -20px;
	}
  
}

@media (max-width: 1200px) {
	#nav_principal{
		margin-top:70px;
		margin-bottom: 15px;
	}
  	
  	.navbar-brand{
		margin-top: 5px;
	}
}

.navbar-nav ul{
	margin-top: 40px;
}
.navbar-nav > li > a{
	font-size: 12px;
	color: black;
	padding-bottom: 2px;
	padding-left:0;
	padding-right:0; 
	margin-left:20px;
	margin-right:20px;
	border-bottom: 5px solid;
	border-color: white;
}

.navbar-nav > li > a:hover{
	font-size: 12px;
	color: #A32638;
	background-color: white;
	margin-left:20px;
	margin-right:20px;
	padding-left:0;
	padding-right:0; 
	padding-bottom: 2px; 
	border-bottom: 5px solid;
	border-color:#A32638;
	
}

.menu_selected{
	font-size: 12px !Important;
	color: #A32638 !Important;
	background-color: white !Important;
	margin-left:20px !Important;
	margin-right:20px !Important;
	padding-left:0 !Important;
	padding-right:0 !Important; 
	padding-bottom: 2px !Important; 
	border-bottom: 5px solid !Important;
	border-color:#A32638 !Important;
	
}

.sombra{
	-webkit-box-shadow: 1px 1px 20px 1px #6B6B6B;
box-shadow: 1px 1px 20px 1px #6B6B6B;
}

.caixa_index{
	background: #f5f5f5;
	background: -moz-linear-gradient(top, #f5f5f5 0%, #ebebeb 42%, #cccccc 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #f5f5f5), color-stop(42%, #ebebeb), color-stop(100%, #cccccc));
	background: -webkit-linear-gradient(top, #f5f5f5 0%, #ebebeb 42%, #cccccc 100%);
	background: -o-linear-gradient(top, #f5f5f5 0%, #ebebeb 42%, #cccccc 100%);
	background: -ms-linear-gradient(top, #f5f5f5 0%, #ebebeb 42%, #cccccc 100%);
	background: linear-gradient(to bottom, #f5f5f5 0%, #ebebeb 42%, #cccccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#cccccc', GradientType=0 );
	border: 1px solid;
	border-color: #BDBDBD;
	padding: 10px;
	margin-bottom: 8px;
	color:#6E6E6E;
}

.caixa_catalogos{
	background: #f5f5f5;
	background: -moz-linear-gradient(top, #f5f5f5 0%, #ebebeb 42%, #cccccc 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #f5f5f5), color-stop(42%, #ebebeb), color-stop(100%, #cccccc));
	background: -webkit-linear-gradient(top, #f5f5f5 0%, #ebebeb 42%, #cccccc 100%);
	background: -o-linear-gradient(top, #f5f5f5 0%, #ebebeb 42%, #cccccc 100%);
	background: -ms-linear-gradient(top, #f5f5f5 0%, #ebebeb 42%, #cccccc 100%);
	background: linear-gradient(to bottom, #f5f5f5 0%, #ebebeb 42%, #cccccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#cccccc', GradientType=0 );
	border: 1px solid;
	border-color: #BDBDBD;
	padding: 5px;
	margin-bottom: 8px;
	color:#6E6E6E;
}

.fundo{
	background-color: #D8D8D8;
	border-bottom: 1px solid;
	border-top: 1px solid;
	border-color: #A4A4A4;
}

.branco{
	-webkit-box-shadow: 0 -15px 30px 2px #A6A6A6;
box-shadow: 0 -15px 30px 2px #A6A6A6;
}

.texto{
	padding: 30px;
}

.fundo img{
	border: 0px solid;
	border-color: #A32638;
}

.nopadding{
	padding: 0;
}

.logo{
	padding-top:5px; 
	padding-left:20px;
	padding-right:20px; 
}

.foot{
	background-color:#A32638;
	color:white;
	font-size:10px;
	margin-bottom: 0;
}

.foot p{
	margin-top:8px;
	font-size: 10px;
}

.foot a{
	color:white;
}

.dedicacao{
	margin-bottom: -30px;
	position: relative;
	z-index: 3;
}

.lang_hover{
    color:#ffffff;
    font-size: 11px;
    text-decoration: underline;
}

.errorSummary
{
	border: 2px solid #C00;
	padding: 7px 7px 12px 7px;
	margin: 0 0 20px 0;
	background: #FEE;
	font-size: 0.9em;
}

.errorMessage
{
	color: red;
	font-size: 0.9em;
}

.errorSummary p
{
	margin: 0;
	padding: 5px;
}

.errorSummary ul
{
	margin: 0;
	padding: 0 0 0 20px;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-success a
{
	color:#264409;
}

.legenda{padding-top: 5px; font-size: 11px;}

.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}